{% extends 'base.html.twig' %}
{% block content %}
<br>
<h1> Bienvenue sur sf-hopital </h1>
<button type = "button" class = "btn btn-outline-info">  <a href="/servi/service" > Service</a>  </button>
<button type = "button" class = "btn btn-contour-warning"> <a href="/specialite" > Specialite</a>   </button>
<button type = "button" class = "btn btn-outline-danger"> <a href="/medecin" > Medecin</a>     </button>

{% endblock %}